<div
  class="container"
  fxLayoutAlign="center">
  <div
    fxFlex="80%"
    fxLayout="column"
    fxLayoutGap="10px">
    <button
      *ngIf="!isSaved"
      (click)="onSave()"
      mat-raised-button
      class="cv__btn-save">Update Info
    </button>
    <div
      fxLayout="row wrap"
      fxFlex="80%"
      fxLayoutGap="5px grid"
      fxLayoutAlign="space-between">
      <app-basic-info
        fxFlex="27%"
        fxFlex.lt-md="100%"
        [educations]="educations"
        [basicInfo]="basicInfo"></app-basic-info>
      <app-extended-info
        fxFlex="72%"
        fxFlex.lt-md="100%"
        [experiences]="experiences"
        [jobs]="jobs"
        [basicInfo]="basicInfo"></app-extended-info>
    </div>
  </div>
</div>
