<mat-card class="job">
  <mat-card-title>Erhvervserfaring</mat-card-title>
  <mat-card-content
    fxLayout="column"
    fxLayoutGap="10px"
    *ngFor="let job of jobs">
      <span
        class="job"
        fxLayout="column">
        <span class="headers" fxLayout="row" fxLayoutAlign="space-between">
          <span class="header">{{ job.place}}</span>
          <span class="years">{{ job.startYear }} - {{ job.endYear | zeroYear}}</span>
        </span>
        <span class="title">{{ job.name }}</span>
        <span class="desc">
          {{ job.desc }}
        </span>
      </span>
  </mat-card-content>
</mat-card>
