<mat-card class="job">
  <mat-card-title>Erhvervserfaring</mat-card-title>
  <mat-card-content fxLayout="column" fxLayoutGap="10px">
      <span class="job">
        <span class="headers" fxLayout="row" fxLayoutAlign="space-between">
          <span class="header">Den Jyske Kontrolcentral</span>
          <span class="years">2017 - </span>
        </span>
        <span class="desc">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer porttitor suscipit purus non semper. Nam elementum aliquam felis, quis condimentum eros porttitor ac. Phasellus facilisis quam non metus varius lacinia. Integer finibus velit et massa auctor venenatis. Aliquam maximus metus vehicula, finibus enim id, ultrices leo. Interdum et malesuada fames ac ante ipsum primis in faucibus. Duis nulla metus, porta.
        </span>
      </span>
  </mat-card-content>
</mat-card>
