<mat-card>
  <mat-card-title>Certifikater</mat-card-title>
  <mat-card-content fxLayout="row wrap">
    <span fxFlex="50%" fxLayout="column">
      <a href="https://firebasestorage.googleapis.com/v0/b/cvsite-b10e2.appspot.com/o/certs%2FKasper%2BNygaardSiig-CS2017CCNA1-Certificate.pdf?alt=media&token=4244fb9e-cbba-4958-b32c-97668cc12f25" target="_blank">
        <mat-icon class="pdf_icon">picture_as_pdf</mat-icon>
        <p>CCNA1 Cert<mat-icon class="link_icon">link</mat-icon></p>
      </a>
    </span>
    <span fxFlex="50%" fxLayout="column">
      <a href="https://firebasestorage.googleapis.com/v0/b/cvsite-b10e2.appspot.com/o/certs%2FKasper%2BNygaardSiig-CS2017CCNA1-Letter.pdf?alt=media&token=ac336537-826e-4fb0-8672-73d587d3d2d6" target="_blank">
        <mat-icon class="pdf_icon">picture_as_pdf</mat-icon>
        <p>CCNA1 Letter<mat-icon class="link_icon">link</mat-icon></p>
      </a>
    </span>
    <span fxFlex="50%" fxLayout="column">
      <a href="https://firebasestorage.googleapis.com/v0/b/cvsite-b10e2.appspot.com/o/certs%2FKasper%2BNygaardSiig-CS2017CCNA2-Certificate.pdf?alt=media&token=2c63b4fd-ef57-4d48-9145-0561520068d9" target="_blank">
        <mat-icon class="pdf_icon">picture_as_pdf</mat-icon>
        <p>CCNA2 Cert<mat-icon class="link_icon">link</mat-icon></p>
      </a>
    </span>
    <span fxFlex="50%" fxLayout="column">
      <a href="https://firebasestorage.googleapis.com/v0/b/cvsite-b10e2.appspot.com/o/certs%2FKasper%2BNygaardSiig-CS2017CCNA2-Letter.pdf?alt=media&token=a16956ad-a8a6-4da7-a235-35696a9d642a" target="_blank">
        <mat-icon class="pdf_icon">picture_as_pdf</mat-icon>
        <p>CCNA2 Letter<mat-icon class="link_icon">link</mat-icon></p>
      </a>
    </span>
  </mat-card-content>
</mat-card>
