<mat-card class="experience">
  <mat-card-title>Kompetencer</mat-card-title>
  <mat-card-content fxLayout="column" fxLayoutGap="10px">
      <span class="exp" *ngFor="let exp of experiences">
        <span class="headers" fxLayout="row" fxLayoutAlign="space-between">
          <span class="header">{{ exp.name }}</span>
          <span>{{ genStars(exp.rating) }}</span>
        </span>
        <span class="desc">
          {{ exp.desc }}
        </span>
      </span>
  </mat-card-content>
</mat-card>
