<mat-card class="profile_text">
  <mat-card-title>Om Mig</mat-card-title>
  <mat-card-content>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur eget venenatis neque, non interdum eros.
    Pellentesque hendrerit ullamcorper suscipit. In tincidunt enim at justo viverra dictum. Maecenas ullamcorper
    accumsan mi vitae rhoncus. Praesent vestibulum tincidunt velit at placerat. In laoreet nisl ut tortor sodales
    consectetur. Vestibulum maximus elit non feugiat volutpat. Suspendisse ac rutrum nunc, sed accumsan ligula.
    Integer at purus ac ligula pharetra tempor. Maecenas laoreet, enim at blandit lacinia, turpis mauris facilisis
    magna, et ornare ipsum libero maximus neque. Suspendisse vehicula tincidunt odio. Maecenas dictum eros id
    pellentesque ultrices. Maecenas sed hendrerit lorem.
  </mat-card-content>
</mat-card>
