<mat-card
  class="about"
  (dblclick)="onToggleEdit($event)">
  <mat-card-title><h2>Om Mig</h2></mat-card-title>
  <mat-card-content
    class="mat-content"
    *ngIf="!isEditing">
    {{ about.substr(0, 368) }}<br><br>
    {{ about.substr(368, 500) }}
  </mat-card-content>
  <mat-card-content
    class="mat-content"
    *ngIf="isEditing"
    (dblclick)="onToggleEdit($event)">
    <mat-form-field
      class="edit"
      floatLabel="always">
      <textarea
        matInput
        class="edit__textarea"
        (keypress)="onInitialSave($event)">{{ about }}</textarea>
    </mat-form-field>
  </mat-card-content>
</mat-card>
